/*****   global  *******/

*{padding: 0; margin: 0; font-size: 13px; line-height: 17px; border-collapse:collapse; border:none; outline: none; list-style-type: none; font-weight:normal;font-family: Museo500, helvetica, arial;  }
body{background:#2e7bb1 url(../images/bg.png) top left repeat-x; }
body, html{height: 100%;}
#wrapper{width: 960px; margin: 0 auto;  }
#container{}
#content{background: #fff; border: 3px solid #a2ccea;}
 .pad{padding: 20px;}



hr{border-top: 1px solid #ddd; border-bottom: 1px solid #fff; background: none;}

.round{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.roundTop{-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.shadow{-webkit-box-shadow:  0 2px 2px -2px black;
	   -moz-box-shadow: 0 2px 2px -2px black;
	        box-shadow: 0 2px 2px -2px black;}

/*****   form elements *******/
.field{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-moz-box-shadow: inset 1px 1px 2px #ccc; -webkit-box-shadow: inset 1px 1px 2px #ccc; box-shadow: inset 1px 1px 2px #ccc; border: 1px solid #ccc; height: 26px; line-height: 26px; text-indent: 8px; font-size: 12px; color: #888;}
  /* Replacement for the label, becomes the link to show/hide the UL */
		.enhancedtrigger{
border: none;			height: 29px;width:174px;
line-height: 29px; text-indent: 6px;
			background: url(../images/bg_select.png) top left no-repeat;
			display:block;
		}
		.enhancedtriggeractive{
			background-position: bottom left;
		}

		/* style of the UL */
		.dropdownreplacement{
			background:white;
			border:1px solid #999;
			border-bottom:none;
			list-style-type:none;
			padding:0;
			margin:0;
			position:absolute;
			top:0;
			left:-999em;
			width:16em;
		}
		.dropdownreplacement a{
			padding:4px;
			display:block;
			text-decoration:none;
			color:#666;
			border-bottom:1px solid #999;
		}
		.dropdownreplacement a:hover{
			background:#eee;
		}
		.selectparent{
			position:relative;
		}

		/* class to be added to show the UL */
		.enhanceddropdownvisible{
			left:0;
			right:0;
		}
		.dropdownreplacement a.disable{background: #ccc;}


/*****   buttons *******/
.buttons{display: block; width: auto;  padding: 22px 0;}
#public .buttons{margin: 0 0 12px 332px;}
#comparison .buttons{margin: 0 0 12px 232px;}
.button{background: url(../images/bg_button.jpg) top left repeat-x; display: block; height: 31px; line-height:31px; padding: 0 16px ; font-size: 13px; color: #fff; text-align:center; float: left;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; display: inline;}
.large{background: url(../images/bg_button_large.jpeg) top left repeat-x; display: block; height: 43px; line-height:43px; padding: 0 16px ; font-size: 13px; color: #fff; text-align:center; float: left;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; display: inline;}
.button:hover, a.delete:hover{background-position: bottom left; color: #fff;}
.button img{float: left; margin-left: -6px;}
.buttons .button{margin: 0 3px;}
.green{background: url(../images/bg_button_green.jpeg) top left repeat-x; height: 35px; line-height: 35px; font-size: 15px }
/*a.home{float: left; display:block; width: 70px; position: absolute; margin: -12px 0 0 12px;}*/
a.delete{width: 19px; height: 19px; float: right; background: url(../images/b_delete.png) top left no-repeat; text-indent:-9999px;}


/*****   text *******/

h1{ text-align:center; font-size: 24px;color: #296c9c; }
	h1 span{font-family: "Museo100";}
h2{color: #579211; margin: 0 0 5px 0; font-size: 18px;font-weight: normal;  }
h4{font-size: 11px; color: #999;}

a{color: #237ab1; text-decoration:none;font-size: inherit; line-height: 16px;}
a:hover{color: #635675; }
p{margin-bottom: 9px;color: #777; line-height: 18px;}
span, a span, b{line-height: inherit; color: inherit; font-size: inherit; font-weight:inherit; }
b{font-weight: bold;}
strong{line-height: inherit; color: inherit; font-size: inherit;  }

/*****   header / subheader  *******/

#header{ width: 100%; height: 55px;}
.logo{margin: 14px 0; }

.nav{float: right; list-style-type: none; height: 55px;}
.nav li{display: inline; float: left; height: 55px;}
.nav li.active{background: url(../images/nav_active.png) bottom center no-repeat;}
.nav li.active a{color: #fff;}
.nav a{color: #c9e0f0; padding: 0 13px; height: 55px; line-height: 55px; font-size: 15px;}
.nav a:hover{color: #fff;}


.subHead{background: #f8f8f8; border-bottom: 1px solid #ccc;  padding: 20px 0; }
	#details .subHead h1, #details .address{text-align: left;}
.subHead .pad{padding: 0 0 0 18px; float: left; clear: both; margin: 0; }
.subHead .address{margin: 10px 0 0 0; text-align:center;}
.banner{position: absolute; margin:10px 0 0 596px;}
a.back{display: block; margin: 0 0 12px 0; background: url(../images/back.png) center left no-repeat; padding: 0 0 0 14px;}

/*****   footer  *******/

#footer{width: 960px; clear: both;margin: 5px 0 20px 0; float: left; padding: 10px 0;}
#footer p{ color: #bbb; font-size: 12px;}



/*****  table  *******/
.filters{background: #8aa1b2; padding: 14px; height: 32px;-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.filters div{float: left; color: #fff;margin: 0 14px 0 0;}
.filters label{float: left; height: 29px; line-height:29px; font-size: 14px;}
.filters .select{float: left; margin-left: 6px;}
.filters .brand{margin-left: 15px;}
table{width: 100%;border: 1px solid #ddd; bord }
th, td{vertical-align: middle; padding: 7px 0; border-bottom: 1px solid #ddd; }
th{background: #dfe4e8; text-align:center; padding-right: 10px; padding-left: 10px;}
td.rank{text-align:center; font-size: 15px; color: #888;}
th.dealer{text-align: left; padding-left: 100px;}
th.state{text-align: left; padding-right: 60px; padding-left: 10px;}
th.numReviews{padding-right: 50px;}
td.sites{text-align:center;}
td.reviews{text-align:center;}
td.score{text-align:center; color: #449e1e;}
tr.alt td{background: #f6f6f6;}

tr.highlight td{color: #fff; background: #2d6c98}
tr.highlight a{color: #cae0ef}


/*****   content  *******/
.overlay{display: none;}
#score{}


/*****  dealer details  *******/
.columns{float: left; width: 960px; clear: both;}
#details .col1{float: left; width: 553px;}
#details .col2{float: left; width: 400px; background: #eff3f5; border-left: 1px solid #dcdad9;}
#details  .block{margin: 30px}
#details .columns h1{font-size: 19px; color: #000; margin: 0 0 12px 0; }
hr{border-top: 1px solid #ddd; border-bottom: 1px solid #fff; background: none;}
#details .col2 table{border: none; border-top: 1px solid #ddd;}

.avgReview{border: 1px solid #ddd; background: #fbfbfb; padding: 14px; color: #f37f29; margin: 0 auto 14px auto; width: 300px;}
.avgReview span{padding-right: 10px;}
#details .row{float: left; width: 100%; clear: both; border-bottom: 1px solid #ddd; margin: 8px 0;padding-bottom: 8px;}
#details .col1 .row .col1{ width: 120px; }
#details .col2 h1{margin-bottom: 40px;}
#details .col1 .row .col2{background: none; width: 360px;border: none; }
#details .col1 .row .col1 img{display: block; margin-bottom: 5px; width: 40px;}
#details .stars .date{float: right; color: #999; font-size: 11px;}
.reviews .row .button{float: right;margin: 0;}

.score h2{font-size: 14px; color: #666; text-align:center;}
.score .button, .reviews .button{float: none; display: block; margin: 0 auto; width: 130px;}
.score .about{font-size: 11px; margin: 0 0 -12px -100px; float: right;}

.stats{float: left; width: 193px; text-align: center; background: #f7f7f7; border: 1px solid #ddd; height: 76px; padding: 20px; margin: 0 5px;}
.stats h2, .siteLogos h2{color: #888; font-size: 15px; margin: 0 0 10px 0;}
p.number{font-size: 32px; }
.blue{color: #2e7bb1; margin-top: 16px;}
.stats .orange{color: #F63; font-size: 20px;}
.stats span{font-size: 13px; color: #999;}
.stars{margin: 0 0 10px 0;}

.siteLogos{text-align:center;padding-top: 20px; clear: both; margin-bottom: 30px;}


/*****  find dealer *******/
#search .col1{width: 212px; float: left;}
#search .col2{width: 668px; float: left; margin-left: 30px; margin-bottom: 40px;}

.search{background: #f0f3f5; margin-bottom: 20px;}
.search h1{background: #2e7bb1; color: #fff; text-indent: 10px; height: 34px; line-height: 34px; font-size: 15px;text-align: left;}
.search .field{width: 172px;}
.search hr{margin-top: 20px;}
.search .or{width: 30px; text-align:center; font-size: 12px; color: #888; background: #f0f3f5; margin: -9px auto 0;}
.search .pad{padding-bottom: 0; }
.search .button{margin-bottom: 20px;}

#search p.default{color: #2a70a1; text-align:center; font-size: 16px; line-height: 20px; padding: 40px;}
#search .noResults h1{font-size: 16px; margin: 0 0 10px 0;}
#search .noResults{color: #777; padding-top: 40px;}
#search .row .button{float: right;}
#search .header{font-size: 16px; border-bottom: 1px solid #ddd; padding: 0 0 12px 0; color: #000;}
#search .header span{color: #2e7bb1;}
#search .row{border-bottom: 1px solid #ddd; padding: 16px 0; color: #555;}
#search .row h1{font-size: 16px; text-align: left; margin: 0 0 4px 0;}


/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#213d51;}
#colorbox{}
#cboxContent{margin-top:20px;}
    .cboxIframe{background:#fff;}
    #cboxError{padding:50px; border:1px solid #ccc;}

    #cboxLoadedContent{border:3px solid #448ec2; background:#fff; border-radius: 9px;box-shadow: 0 0 15px #0e2e45; margin: 12px;}


    #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
    #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
    #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
    #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
    #cboxPrevious:hover{background-position:bottom left;}
    #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
    #cboxNext:hover{background-position:bottom right;}
    #cboxLoadingOverlay{background:#000;}
    #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
    #cboxClose{position:absolute; top:25px; right:15px; display:block; background:url(../images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
    #cboxClose:hover{background-position:bottom center;}

    
    /*****  splash page *******/
#splash{overflow: hidden;}
#splash .content{width: 600px; margin: 0 auto; height: 330px;background: rgba(255, 255, 255, 0.94); text-align:center; border: 3px solid #3879a7;
}
#splash .content .pad{padding: 50px;}
#splash .content .logo{display: block; margin: 0 auto 30px auto;}
#splash p{margin: 0 0 30px 0; font-size: 15px; color: #222; line-height: 21px;}
#splash .button{display: block ;margin: 0 auto; float: none; width: 150px; font-size: 17px; height: 42px; line-height:42px;}


/*****  buy *******/
.packages {clear: both;float: left; width: 100%;background: #fff;}
.packages .block{float: left; width: 33%; text-align: left;background-position: top right; background-repeat: repeat-x; background-color: #fff;-moz-box-shadow: inset 1px 1px 2px #ccc; -webkit-box-shadow: inset 1px 1px 2px #ccc; box-shadow: inset -1px 1px 2px #ccc; height: 320px;}
.packages .base{background-image: url(../images/bg_base.png);width: 34%;}
.packages .gold{background-image: url(../images/bg_gold.png);}
.packages .platinum{background-image: url(../images/bg_platinum.png);}
.packages h1{text-align: left;margin: 0 0 8px 0; line-height: 24px;color: #000;}
.packages h1.type{margin: 0 0 8px 0; font-size: 16px; font-family: Museo900}
.packages .base h1.type{color: #286a99;}
.packages .gold h1.type{color: #ab945c;}
.packages .platinum h1.type{color: #888;}
.packages h1.price{color: #888; font-size: 20px; margin: 0 0 16px 0;}
.packages h2{color: #000; font-size: 15px; margin: 0 0 10px 0; font-family: Museo700;}
.packages li{background: url(../images/icon_check.png) top left no-repeat; padding-left: 22px; margin: 0 0 7px 0;}

.section {border-top: 1px solid #eee; text-align: left; width: 100%; float: left; display: block; clear: both;}
.section h1{font-size: 18px; margin: 0 0 14px 0; color: #000; text-align:left;}

.locations *{text-align: left;}
.locations table, .locations td, .locations th {border-color: #fff;}
.locations label{display: block;}
.locations .field{width: 100%;}
.locations th{background: #edf6fd;}
.locations th, .locations td{padding: 9px;}
.locations td{background: #f1f1f1;}
.locations div.price{float: right; text-align:right; padding-right: 12px;}
.locations tr.total td{text-align: right; background: #ddd; font-size: 18px;}

.account .field{width: 200px; margin: 0 6px 0 0;}
.account .row{width: 100%; clear: both; padding: 5px 0; display:block; float: left;}
.account .enhancedtrigger{width: 70px; float: left; margin: 0 6px 0 0;}
.account .narrow .enhancedtrigger{width: 70px; background: none;}
.account .medium .enhancedtrigger{width: 150px; background: none;}
.account .med{width: 130px; float: left; margin: 0 6px 0 0;}
.account .row .field{float: left;}
.cta{margin-top: 10px; background: #edf6fd;}
 .cta .button{ display: block; float: none; width: 170px;}
 
 .confirmation{text-align: center; padding: 40px;}
 .confirmation h1{margin: 0 0 30px 0;}
 .confirmation p{font-size: 16px; padding: 0 120px; line-height:22px; margin: 0 0 10px 0;}
 .confirmation .home{float: none; display: block; margin: 40px auto; width: 80px;}